.App {
  text-align: center;
}

h2 {
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.container {
  display: flex;
}

.Image {
  height: 100%;
  width: 342px;
}
.logoContainer {
  text-align: left;
  margin: 16px 0 16px 24px;
}
.recipes {
  margin-left: 48px;
}
